@import "tailwindcss";

@theme {
  --color-body: #0e0e0e;
  --color-body-2: #1c1c1c;
  --color-body-3: #343434;
  --font-montserrat: "Montserrat", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --color-primary: #118cd5;
  --color-primary-hover: #0c74c4;
  --color-secondary: #f802a0;
  --color-secondary-hover: #ff3b8f;
  --color-accent: #d7744d;
  --color-accent-hover: #c26743;
  --color-text: #ccc;
  --color-input-bg: #181818;
  --color-accent-btn: #c2674375;
  --color-accent-btn-hover: #c267438b;
  --color-primary-btn: #118cd599;
  --color-primary-btn-hover: #39acea99;
  --color-btn-text: #ffffffd9;
}

.backgroud-gradient {
  background: radial-gradient(circle, #0e0e0e69 0%, #0e0e0e 74%);
}
.backgroud-gradient-2 {
  background: #0e0e0e;
  background: radial-gradient(circle, #0e0e0e00 0%, #0e0e0e 100%);
}

.backgroud-gradient-3 {
  background: #0e0e0e;
  background: linear-gradient(89deg, #0e0e0edb 0%, #0e0e0e26 64%);
}
.backgroud-gradient-4 {
  background: #0e0e0e;
  background: linear-gradient(0deg, #0e0e0ee0 6%, #0e0e0e00 100%);
}
@layer base {
  body {
    background: var(--color-body);
    color: var(--color-text);
    font-family: var(--font-montserrat);
  }

  h1,
  h2,
  h3,
  .count-title {
    font-family: var(--font-dm-sans);
  }
}

a,
button,
input {
  outline: none;
}

.background-glass {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px #0e0e0e1a;
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}

.glass-btn {
  box-shadow: 0 4px 30px #0e0e0e1a;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.runcate-clampt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncate-2-lines {
  -webkit-line-clamp: 2;
}
.truncate-3-lines {
  -webkit-line-clamp: 3;
}
