@import "tailwindcss";

@theme {
  --color-body: #000000;
  --font-montserrat: "Montserrat", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --color-primary: #118cd5;
  --color-primary-hover: #0c74c4;
  --color-secondary: #f802a0;
  --color-secondary-hover: #ff3b8f;
  --color-accent: #d7744d;
  --color-accent-hover: #c26743;
  --color-text: #ccc;
  --color-input-bg: #181818;
  --color-accent-btn: #c2674375;
  --color-accent-btn-hover: #c267438b;
  --color-primary-btn: #118cd599;
  --color-primary-btn-hover: #39acea99;
  --color-btn-text: #ffffffd9;
}

.backgroud-gradient {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.41) 0%,
    rgba(0, 0, 0, 1) 74%
  );
}
.backgroud-gradient-2 {
  background: #000000;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.backgroud-gradient-3 {
  background: #000000;
  background: linear-gradient(
    89deg,
    rgba(0, 0, 0, 0.86) 0%,
    rgba(0, 0, 0, 0.15) 64%
  );
}
@layer base {
  body {
    background: var(--color-body);
    color: var(--color-text);
    font-family: var(--font-montserrat);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-dm-sans);
  }
}

a,
button,
input {
  outline: none;
}

.background-glass {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}

.glass-btn {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.truncate-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncate-2-lines {
  -webkit-line-clamp: 2;
}
.truncate-3-lines {
  -webkit-line-clamp: 3;
}
